/* Photo by Kat Jayne from Pexels */
body {
  background-size: auto;
  background-image: url("https://images.pexels.com/photos/1791/vintage-music-white-sound.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}
